@font-face {
    font-family: 'ShadedLarch';
    src: url('../fonts/shaded_larch/ShadedLarch_PERSONAL_USE.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Infinite_Stroke';
    src: url('../fonts/infinite_stroke/Infinite_Stroke.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amontillados';
    src: url('../fonts/amontillados/Amontillado.ttf');
    font-weight: normal;
    font-style: normal;
}

.error { color: #ba0000; }

span.error {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

dl { display: inline-block;vertical-align: top; }
dd, dt { display: inline-block; }
dt { width: 45%;padding-right: 5%; }
dd { width: 50%; }

.slick-prev:before, .slick-next:before {
    color: #999;
}
